<h1>Welcome <%= @customer.first_name %> <%= @customer.last_name %></h1>
<div class="center">
	<p>The following are your MyBank accounts</p>
</div>

<div class="row">
	<div class="col-md-3">
		<% #if current_customer.admin? %>	
			<p>Create new Account</p>

			<%= form_for(@account) do |f| %>
				<%= f.label :acc_type, class: "radiobutton inline" %>(you must select an account type. Savings/Current)
					<%= f.radio_button :acc_type, "savings", class: "" %><span>Savings</span>
					<%= f.radio_button :acc_type, "current", class: "" %><span>Current</span>
				<br>
				
				<%= f.label :Deposit %> (you can depisit any amount)
				<%= f.number_field :acc_balance, value: 0, class: "form-control" %>

				<%= f.submit "Create Account", class: "btn btn-primary" %>
			<% end %>
		<% #end %>
	</div>
	<div class="col-md-9">
	    <% if @customer.accounts.any? %>
	      <h3>Accounts (<%= @customer.accounts.count %>)</h3>
	      <ul class="accounts">
	      	<table class="table table-striped table-bordered">
	      		<thead>
		            <tr>
		              <th>Account Number</th>
		              <th>Type</th>
		              <th>Account Balance</th>
		             </tr>
		        </thead>
	        	<% @accounts.each do |account| %>
		            <tbody>
		            	<tr>
		            		<li>
		            			<td>
		        					<%= link_to account.acc_num, edit_account_path(account) %>
		        				</td>
		        				<td>
		        					<%= account.acc_type %>
		        				</td>
						        <td>
						        	N<%= account.acc_balance %>
						        </td>
		        			</li>
		        		</tr>	
	        		</tbody>
	        	<% end %>
	        </table>
	      </ul>
	      <% #will_paginate @accounts %>
	    <% end %>
	</div>
</div>
